.translation-screen {
    height: 100vh;
}
.translation-container {
    display: flex;
    flex-direction: column;
    
    padding: 10px;
    max-width: 100vw;
    border-radius: 20px;
    min-height: 100vh;
    
    background-color: #F4FAFF;
}
.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

    background-color: #DEE7E7;
}
.output {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 10px;
    margin: 10px;
    min-height: 40vh;
    border-radius: 10px;

    background-color: #DEE7E7;
}
