.profile-screen {
    height: 100vh;

    background-color: #F4FAFF;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 10vh;
    
    color: #F4FAFF;
    background-color: #272D2D;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.nav-item {
    display: flex;
}
.translation-history {
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    height: 70vh;
    margin: 20px;
    padding: 20px;
    max-width: 40vw;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;

    background-color: #DEE7E7;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.translation-item {
    display:flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 10px 0px 10px;
    margin: 5px;
    border-radius: 10px;

    background-color: #F4FAFF;

    font-size: large;
}

