.App {
  text-align: center;
  margin-bottom: 25px;
}

.navbar-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25pt;
  font-style: italic;
  padding: auto;
}

.nav {
  margin: 0 auto;
  background-color: #555;
}

.nav li {
  float: left;
  padding: 12px;
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-right: 100px;
}

.fa {
  font-size: 20pt;
  margin-left: 45rem;
}
.btn {
  margin: 10px;
}
